# Setup

In [1]:


import pandas as pd
import numpy as np


from matplotlib import style

import matplotlib.pyplot as plt

import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, desc
from sqlalchemy import MetaData, Table, Column, ForeignKey, String, Integer
from sqlalchemy.ext.automap import automap_base

In [2]:
#connect sqlite database
engine = create_engine("sqlite:///Resources/database.sqlite")

In [3]:

inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['Country', 'CountryNotes', 'Footnotes', 'Indicators', 'Series', 'SeriesNotes']

In [4]:
#Using automap base
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
session = Session(engine)

In [5]:
# Print all of the classes mapped to the Base
Base.classes.keys()

[]

In [6]:
# Create a metadata instance
metadata = MetaData(engine)
# we can reflect it ourselves from a database, using options
# such as 'only' to limit what tables we look at...
metadata.reflect(engine)

In [7]:
Indicator_table = Table("Indicators", metadata, autoload=True)
Indicator_table

Table('Indicators', MetaData(bind=Engine(sqlite:///Resources/database.sqlite)), Column('CountryName', TEXT(), table=<Indicators>), Column('CountryCode', TEXT(), table=<Indicators>), Column('IndicatorName', TEXT(), table=<Indicators>), Column('IndicatorCode', TEXT(), table=<Indicators>), Column('Year', INTEGER(), table=<Indicators>), Column('Value', NUMERIC(), table=<Indicators>), schema=None)

In [8]:
Indicator_query = session.query(Indicator_table).limit(10).all()
Indicator_query

C:\Users\thecu\Anaconda3\lib\site-packages\sqlalchemy\sql\sqltypes.py:665: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

[('Arab World',
  'ARB',
  'Adolescent fertility rate (births per 1,000 women ages 15-19)',
  'SP.ADO.TFRT',
  1960,
  Decimal('133.5609074055')),
 ('Arab World',
  'ARB',
  'Age dependency ratio (% of working-age population)',
  'SP.POP.DPND',
  1960,
  Decimal('87.7976011533')),
 ('Arab World',
  'ARB',
  'Age dependency ratio, old (% of working-age population)',
  'SP.POP.DPND.OL',
  1960,
  Decimal('6.6345791916')),
 ('Arab World',
  'ARB',
  'Age dependency ratio, young (% of working-age population)',
  'SP.POP.DPND.YG',
  1960,
  Decimal('81.0233295084')),
 ('Arab World',
  'ARB',
  'Arms exports (SIPRI trend indicator values)',
  'MS.MIL.XPRT.KD',
  1960,
  Decimal('3000000.0000000000')),
 ('Arab World',
  'ARB',
  'Arms imports (SIPRI trend indicator values)',
  'MS.MIL.MPRT.KD',
  1960,
  Decimal('538000000.0000000000')),
 ('Arab World',
  'ARB',
  'Birth rate, crude (per 1,000 people)',
  'SP.DYN.CBRT.IN',
  1960,
  Decimal('47.6978880951')),
 ('Arab World',
  'ARB',
  'CO2 emissions (kt)',
  'EN.ATM.CO2E.KT',
  1960,
  Decimal('59563.9892169935')),
 ('Arab World',
  'ARB',
  'CO2 emissions (metric tons per capita)',
  'EN.ATM.CO2E.PC',
  1960,
  Decimal('0.6439635479')),
 ('Arab World',
  'ARB',
  'CO2 emissions from gaseous fuel consumption (% of total)',
  'EN.ATM.CO2E.GF.ZS',
  1960,
  Decimal('5.0412917540'))]

In [10]:
#using query with native sql language
internet_data=engine.execute("SELECT CountryName, Value \
                    FROM Indicators where \
                    IndicatorCode = 'IT.NET.USER.P2'  \
                    AND Year = '2014' \
                    ORDER BY Value DESC; ")
#column named 'Internet users (per 100 people)'

#creating dataframe from query
internet_pd=pd.DataFrame(internet_data)
#set column names 'Internet users (per 100 people)'
internet_pd.columns = ['country', 'Internet users (per 100 people)']

In [11]:
#preview
internet_pd

,country,Internet users (per 100 people)
0,Iceland,98.160000
1,Bermuda,96.800000
2,Norway,96.300000
3,Denmark,95.990000
4,Andorra,95.900000
5,Liechtenstein,95.210000
6,Luxembourg,94.670000
7,Faeroe Islands,94.660000
8,Netherlands,93.170000
9,Sweden,92.520000
10,Monaco,92.400000
11,Finland,92.380000
12,United Kingdom,91.610000
13,Qatar,91.490000
14,Bahrain,90.999980
15,Japan,90.580000
16,United Arab Emirates,90.400000
17,United States,87.360000
18,North America,87.337921
19,Canada,87.120000
20,Switzerland,87.000000
21,Germany,86.190000
22,New Zealand,85.500000
23,Belgium,85.000000
24,Australia,84.560000
25,"Korea, Rep.",84.330000
26,Estonia,84.240000
27,High income: OECD,83.845576
28,Aruba,83.780000
29,France,83.750000
...,...,...
205,Cambodia,9.000000
206,Solomon Islands,9.000000
207,Heavily indebted poor countries (HIPC),8.865291
208,Least developed countries: UN classification,8.636392
209,"Congo, Rep.",7.110000
210,Mali,7.000000
211,Comoros,6.980000
212,Afghanistan,6.390000
213,Low income,6.290987
214,Mozambique,5.940000
215,Malawi,5.830000
216,Togo,5.700000
217,Liberia,5.410000
218,Benin,5.300000
219,Tanzania,4.860000
220,Central African Republic,4.030000
221,Madagascar,3.700000
222,Guinea-Bissau,3.320000
223,"Congo, Dem. Rep.",3.000000
224,Ethiopia,2.900000
225,Chad,2.500000
226,Myanmar,2.100000
227,Sierra Leone,2.100000
228,Niger,1.950000
229,Guinea,1.720000
230,Somalia,1.630000
231,Burundi,1.380000
232,Timor-Leste,1.140000
233,Eritrea,0.990000
234,"Korea, Dem. Rep.",0.000000

In [12]:
urbanpop_data=engine.execute("SELECT CountryName, Value \
                    FROM Indicators where \
                    IndicatorCode = 'SP.URB.TOTL.IN.ZS'  \
                    AND Year = '2014' \
                    ORDER BY Value DESC;")
#creating dataframe from query
urbanpop_pd=pd.DataFrame(urbanpop_data)
urbanpop_pd.columns = ['country', 'urban population in %']
#set column names 'urban population in %'

In [13]:
urbanpop_pd

                       country  urban population in %
0                      Bermuda                100.000
1               Cayman Islands                100.000
2         Hong Kong SAR, China                100.000
3             Macao SAR, China                100.000
4                       Monaco                100.000
5                    Singapore                100.000
6    Sint Maarten (Dutch part)                100.000
7                        Qatar                 99.159
8                       Kuwait                 98.326
9                      Belgium                 97.818
10                       Malta                 95.277
11       Virgin Islands (U.S.)                 95.203
12                     Uruguay                 95.152
13                        Guam                 94.437
14                  San Marino                 94.166
15                     Iceland                 94.042
16                 Puerto Rico                 93.636
17                       Japan                 93.021
18                      Israel                 92.076
19    Turks and Caicos Islands                 91.847
20                   Argentina                 91.604
21                 Netherlands                 89.910
22                  Luxembourg                 89.872
23                     Curacao                 89.430
24                       Chile                 89.356
25                   Australia                 89.289
26    Northern Mariana Islands                 89.272
27               Venezuela, RB                 88.941
28                     Bahrain                 88.719
29                     Lebanon                 87.670
..                         ...                    ...
215               Burkina Faso                 29.024
216                     Guyana                 28.459
217                    Comoros                 28.193
218                     Rwanda                 27.841
219                    Lesotho                 26.789
220                 Tajikistan                 26.692
221                Afghanistan                 26.282
222                    Vanuatu                 25.817
223                      Kenya                 25.197
224        Antigua and Barbuda                 24.190
225                      Tonga                 23.632
226      Micronesia, Fed. Sts.                 22.378
227                       Chad                 22.341
228                    Eritrea                 22.193
229            Solomon Islands                 21.876
230                  Swaziland                 21.315
231                   Cambodia                 20.514
232                      Samoa                 19.260
233                   Ethiopia                 19.028
234                South Sudan                 18.591
235                  St. Lucia                 18.477
236                      Niger                 18.469
237                  Sri Lanka                 18.320
238                      Nepal                 18.243
239                     Malawi                 16.102
240                     Uganda                 15.766
241              Liechtenstein                 14.305
242           Papua New Guinea                 12.985
243                    Burundi                 11.761
244        Trinidad and Tobago                  8.550

[245 rows x 2 columns]

In [18]:
joined_pd=pd.merge(internet_pd, urbanpop_pd, on='country')
joined_pd=joined_pd.set_index('country')
joined_pd

,Internet users (per 100 people),urban population in %
country,,
Iceland,98.160000,94.042000
Bermuda,96.800000,100.000000
Norway,96.300000,80.208000
Denmark,95.990000,87.502000
Andorra,95.900000,85.633000
Liechtenstein,95.210000,14.305000
Luxembourg,94.670000,89.872000
Faeroe Islands,94.660000,41.743000
Netherlands,93.170000,89.910000
Sweden,92.520000,85.665000
Monaco,92.400000,100.000000
Finland,92.380000,84.086000
United Kingdom,91.610000,82.345000
Qatar,91.490000,99.159000
Bahrain,90.999980,88.719000
Japan,90.580000,93.021000
United Arab Emirates,90.400000,85.266000
United States,87.360000,81.447000
North America,87.337921,81.470766
Canada,87.120000,81.650000
Switzerland,87.000000,73.844000
Germany,86.190000,75.094000
New Zealand,85.500000,86.251000
Belgium,85.000000,97.818000
Australia,84.560000,89.289000
"Korea, Rep.",84.330000,82.360000
Estonia,84.240000,67.622000
High income: OECD,83.845576,80.672518
Aruba,83.780000,41.779000
France,83.750000,79.289000
...,...,...
Cambodia,9.000000,20.514000
Solomon Islands,9.000000,21.876000
Heavily indebted poor countries (HIPC),8.865291,34.131332
Least developed countries: UN classification,8.636392,31.018420
"Congo, Rep.",7.110000,64.957000
Mali,7.000000,39.143000
Comoros,6.980000,28.193000
Afghanistan,6.390000,26.282000
Low income,6.290987,29.767945
Mozambique,5.940000,31.934000
Malawi,5.830000,16.102000
Togo,5.700000,39.469000
Liberia,5.410000,49.308000
Benin,5.300000,43.514000
Tanzania,4.860000,30.901000
Central African Republic,4.030000,39.759000
Madagascar,3.700000,34.468000
Guinea-Bissau,3.320000,48.550000
"Congo, Dem. Rep.",3.000000,41.976000
Ethiopia,2.900000,19.028000
Chad,2.500000,22.341000
Myanmar,2.100000,33.551000
Sierra Leone,2.100000,39.578000
Niger,1.950000,18.469000
Guinea,1.720000,36.680000
Somalia,1.630000,39.078000
Burundi,1.380000,11.761000
Timor-Leste,1.140000,32.131000
Eritrea,0.990000,22.193000
"Korea, Dem. Rep.",0.000000,60.715000

In [19]:
joined_pd.to_csv(r'internet_urbanperc_bycountry.csv')